@using CarDealer.Models

<ul>
    @foreach (Brands Brand in ViewBag.Brands)
    {
        <li style="list-style-type:none">
            <div style="margin:10px;" class="list-group">
                <button type="button" class="list-group-item list-group-item-action active" aria-current="true">
                    @Brand.BrandName
                </button>

            </div>
        </li>

    }
</ul>